<div class = "cont">
  <div class = "identity">
    <img class="photo" src="./model/cindy.png" alt="Cindy Najjar">
    <h4>Personal</h4><br/>
    <span class="information">&nbsp;Lastname</span><span> : {{ data.lastname }}</span><br/>
    <span class="information">&nbsp;Firstname</span><span> : {{ data.firstname }}</span><br/>
    <span class="information">&nbsp;Birth</span><span> : {{ data.birth }}</span><br/>
    <span class="information">&nbsp;Nationality</span><span> : {{ data.nationality }}</span><br/>
    <span class="information">&nbsp;City</span><span> : {{ data.city }}</span><br/>
    <span class="information">&nbsp;Zipcode</span><span> : {{ data.zipCode }}</span><br/>
    <span class="information" id="country">&nbsp;Country</span><span> : {{ data.country }}</span><br/>
    <span class="information" id="mail">&nbsp;E-mail</span><span> : {{ data.email }}</span><br/>
  </div>
</div>
